.leagueDetailsCard {
     background: linear-gradient( 270deg, #05f0ff 30%, #963cff) #963cff; 
    border-radius: 20px;
}
.leagueDetails {
     color: white;
    font-weight: bold;
    background-color:#36003c;
}
p{
    font-weight:100;
}
.iconSize {
    font-size: 60px;
}
.fbLogo {
    color: #4267B2;
}
.twitterLogo {
    color: #1DA1F2;
}
.youtubeLogo {
    color: #FF0000;
}

.badgeHeaderImage{
    position: absolute; 
    left: 50%; 
    top:15%;
    transform: translate(-50%, -50%);
    width:10%!important;
}
.bannerHeaderImage{
    opacity:0.3;
    height:14rem;
}

@media only screen and (min-device-width: 150px) and (max-device-width: 1200px) {
        .bannerHeaderImage{
            height:15rem!important;
        } 
        .badgeHeaderImage{
            width:30%!important;
        }
}
@media (min-device-height: 1000px) {
    .bannerHeaderImage{
        height:16rem!important;
    } 
}