.badgeImage{
   display:flex;
   justify-content:center;
   align-items:center;
}
.exploreButton{
    background-color:#3A42FF;
}
.leagueName{
    font-size:22px;
    font-weight:bold;
}
.sportName{
    font-size:16px;
    font-weight:medium;
    /* color: */
    padding:0px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .leagueName{
        font-size:16px;
    }
    .sportName{
        font-size:14px;
    }
}
@media only screen and (min-device-width: 200px) and (max-device-width: 500px) {
    .leagueName{
        font-size:12px;
    }
    .sportName{
        font-size:10px;
    }
}