.badgeImage{
   display:flex;
   justify-content:center;
   align-items:center;
}
.exploreButton{
    background-color:#3A42FF;
}
.leagueName{
    font-size:22px;
    font-weight:bold;
}
.sportName{
    font-size:16px;
    font-weight:medium;
    /* color: */
    padding:0px;
}
