.headerBanner{
    background-image:url('https://creativereview.imgix.net/content/uploads/2016/02/Premier_League_Rebrands_DesignStudio_05.jpg?auto=compress,format&q=60&w=2560&h=1440" className="headerImage');
     background-size:cover;
     background-repeat:no-repeat;
     height:10rem;
}
